<html><head><title>Create new user</title></head> <body>
    <form method="post" id="addUsr">
        First Name: <br> <input type="text" name="fstname"> <br>
        Last Name: <br> <input type="text" name="lstname"> <br>
        Email: <br> <input type="email" name="email"> <br>
        Password: <br> <input type="password" name="password"> <br>
        Re-enter Password: <br> <input type="password" name="pw2"> <br>
    </form>
    <button type="submit" form="addUsr" value="submit">Submit</button>
</body></html>