@(name: String, prompt: String = "")
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Admin Panel</title>
        <h1>Admin panel for @name</h1>
        @if(!prompt.isEmpty) {
            <font color="green">@prompt</font><br><br>
        }
    </head>
    <body>
        <a href="">Add team</a><br>
        <a href="">Add player</a><br>
        <a href="admin/addTournament">Add tournament</a><br>
        <a href="">Add user</a><br><br>
        <a class="btn" href="@routes.Auth.logout()">Log Out</a>
    </body>
</html>