@import models.Model.UserData
@import models.Model.Tournament
@import models.Model.Match
@import models.Model.Team

@import java.text.SimpleDateFormat
@(user: UserData, upcoming: (Tournament, Match, Team, Team))

<title>@(user.fname)</title>
<h1>Dashboard</h1>

<h2>Upcoming Tournament</h2>
<h3>@(upcoming._1.name)</h3>
<body>Date: @({
    val fmt = new SimpleDateFormat("yyyy-MM-dd")
    fmt.format(upcoming._2.time*1000)
})<br>Game: @(upcoming._1.game)<br>
    Capacity: @(upcoming._1.cur)/@(upcoming._1.max)<br>
    Against: @(upcoming._4.name)</body> <br>
<a href="@routes.Application.details()">Details</a> <br> <br>

<a class="btn" href="@routes.Auth.logout()">Log Out</a>
